[Unit]
Description=EtherSense service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/realsense/Desktop/EtherSense
User=realsense
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /home/realsense/Desktop/EtherSense/EtherSenseServer.py

[Install]
WantedBy=multi-user.target