[Unit]
Description=EtherSense service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/martin/devel/EtherSense
User=martin
Restart=always
RestartSec=5
ExecStart=/home/martin/venvs/magicqueen/bin/python3 -u /home/martin/devel/EtherSense/EtherSenseServer.py

[Install]
WantedBy=multi-user.target